<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8"/>
		<title> Full Sail </title>
		<!-- Css Reset -->
		<link rel="stylesheet" href="css/reset.css">

		<!-- Get Booststrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- my compiled less -->
		<link rel="stylesheet" href="css/style.css">
		<!-- bxSlider CSS file -->
		<link href="css/jquery.bxslider.css" rel="stylesheet" />

	</head>

	<body class="container-fuild">

		<nav>
			<img src="media/images/logo.png" all="Full Sail Logo" class="col-lg-offset-1
																		 col-xs-offset-3
																		gg6h">
		</nav>

		<section class="main_content">

			<div class="feature_image"></div>

			<div class="col-lg-6 col-lg-offset-1 feature_body_text">
				<h2>
					Proin gravida nibh
					vel velit auctor aliquet.
				</h2>
				<p>
					Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

					Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				</p>

			</div>



		</section>
		<!-- end Main Content -->

		<div class="col-xm-12 col-lg-offset-2 areas_image">

			<span class="pull-left"><img src="media/images/line.png" alt="an image dividing the page" class="focus_image img-responsive"></span>
			<p class="pull-left">
				AREAS OF FOCUS
			</p>
			<span class="pull-left"><img src="media/images/line.png" alt="an image dividing the page" class="focus_image img-responsive"></span>
		</div>

		<section class="areas_of_focus">


			<div class="focus_item_container">

				<div class="row col-lg-12">

					<div class=" col-lg-2  col-lg-offset-2 pull-left focus_item text-center">
						<img src="media/images/focus_icon_1.png" alt="an icon" class="focus_icon">
						<h3>Area Of Focus</h3>
						<p>
							Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						</p>
					</div>

					<div class="col-lg-2 col-lg-offset-1 pull-left focus_item text-center">
						<img src="media/images/focus_icon_2.png" alt="an icon" class="focus_icon">
						<h3>Area Of Focus</h3>
						<p>
							Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						</p>
					</div>

					<div class="col-lg-2 col-lg-offset-1 pull-left focus_item text-center">
						<img src="media/images/focus_icon_3.png" alt="an icon" class="focus_icon">
						<h3>Area Of Focus</h3>
						<p>
							Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
						</p>
					</div>

				</div>
				<!-- end container rows -->

				<div class="focus_item_slider">

					<ul class="bxslider">
						<li class="row slide_style">

							<img src="media/images/item_1.png" alt="slider image 1" class="col-lg-5 col-lg-offset-1 img-responsive" />
								<div class="col-lg-6">
						    	<h3 class="text-uppercase slider_heading">THE FULL SAIL ONLINE EXPERIENCE</h3>
						    	<h3>Your Mac Laptop<h3>
						    	<h3><small>Project Launch Box&#0153;*</small></h3>
						    	<p>Learn and create from anywhere</p>
						    	<p>Features powerful media creation software</p>
						    	<p>Allows for a media-rich learning experience</p>
						    </div>

						</li>
						<li class="row">
							<img src="media/images/item_2.png" alt="slider image 1" class="col-lg-5 col-lg-offset-1  img-responsive" />
								<div class="col-lg-6">
						    	<h3 class="text-uppercase slider_heading">THE FULL SAIL ONLINE EXPERIENCE</h3>
						    	<h3>Connect & Collaborate </h3>
						    	<p>
						    		Network with classmates online

									One-click access to instructors

									Video conferencing

									Technical support provided
									8 am.m. - 2 a.m. E.S.T, 7 days a week
						    	</p>

						    </div>
						</li>
						<li class="row">
							<img src="media/images/item_3.png" alt="slider image 1" class="col-lg-5 col-lg-offset-1  img-responsive" />
								<div class="col-lg-6">
						    	<h3 class="text-uppercase slider_heading">THE FULL SAIL ONLINE EXPERIENCE</h3>
						    	<h3>Engaging Media-Rich Curriculum  </h3>
						    	<p>
									Video presentations

									Animations and interactive content

									Online guest lectures and interviews

									Course Director podasts
						    	</p>

						    </div>
						</li>
						<li class="row">
							<img src="media/images/item_4.png" alt="slider image 1" class="col-lg-5 col-lg-offset-1  img-responsive" />
								<div class="col-lg-6">
						    	<h3 class="text-uppercase slider_heading">THE FULL SAIL ONLINE EXPERIENCE</h3>
						    	<h3>Accelerated Learning </h3>
						    	<p>
									Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
						    	</p>

						    </div>
						</li>

					</ul>

				</div>
				<!-- end focus item slider -->

			</div>
			<!-- end focus item container -->

		</section>

		<footer class="text-center col-lg-12">

			<p>
				* Project LaunchBox&#0153; is a degree-specific technology package that is made available to students at a deep institutional discount. In an effort to make the most current technology available to its students, Full Sail reserve s the right to replace equipment in the student technology package in favor of newer models.

			</p>

			<p>
				For more information about Full Sail's programs, courses, and studios, as well as details about financial aid and career development, please visit our website at <a href="http://www.fullsail.edu">www.fullsail.edu</a> 3300 University Blvd · Winter Park, FL 32792 · Financial aid available for those who qualify · Career development assistance · Accredited University, ACCSC
			</p>

			<p>
				Other product and company names mentioned herein may be the trademarks of their respective owners.
				The appearance of these marks does not necessarily indicate a formalized sponsorship or affiliation with other such companies.
				© 2013 Full Sail, LLC. All rights reserved. The terms "Full Sail," "Full Sail University," "If you're serious about your dream, we'll take your dream seriously,"
				"Full Sail Real World Education," and the Full Sail logo are either registered service marks or services marks of Full Sail, LLC.
			</p>

			<a href="#">Click Here for Privacy Policy</a> | <a href="#">Click here for outcomes and statistics</a>
		</footer>





	</body>

	<!-- Jquery jquery-1.10.2.min -->
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<!-- bxSlider Javascript file -->
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>

	<!-- Link  main.js -->
	<script type="text/javascript" src="js/main.js"></script>
</html>