/* focus */
/* footer */
/* media Queries */
html {
  background-color: #d4d4d4;
}
nav {
  background-color: #333327;
  height: 50px;
  width: 100%;
}
nav img {
  margin-top: 10px;
}
.main_content {
  height: 85vh;
  background-color: #ffffff;
}
.main_content .feature_image {
  width: 100%;
  height: 300px;
  background: url(../media/images/feature_image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main_content .feature_body_text {
  margin-top: 10px;
}
.areas_image {
  margin-top: 20px;
  margin-bottom: 50px;
}
/*
 ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
 ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main_content {
    height: 85vh;
  }
  .main_content .feature_image {
    height: 400px;
    float: left;
  }
  .main_content .feature_body_text {
    margin-top: 30px;
  }
  .areas_image {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .areas_of_focus {
    background-color: #d4d4d4;
  }
  .areas_of_focus .focus_item {
    position: relative;
    top: -40px;
  }
  .areas_of_focus .focus_item_slider .slider_heading {
    color: #ffffff;
  }
  footer {
    background-color: #333327;
    color: #676765;
    height: 300px;
    padding-top: 50px;
  }
  footer a:link {
    color: #de5b21;
  }
  footer a:visited {
    color: #de5b21;
  }
}
